section.user-js.grid-x
  .user-js__img.small-12.medium-6.cell
    img.user-js__scale(src=("images/scale.png"))
    img.user-js__arrow(src=("images/arrow1.png"))
  .small-12.medium-6.cell.animated.flipInX(style=" animation-delay: 4s;")
    p Мой уровень владения
    p  Java Script
    .user-js__level 0