section.user-name.grid-x
  .user-name__foto.small-12.medium-3.cell
    img(src=("images/foto.png") width="138" height="138")
  .user-name__data.small-12.medium-9.cell
    input.user-name__input.animated.fadeInRight(type="text" placeholder="имя")
    input.user-name__input.animated.fadeInRight(type="text" placeholder="дата рождения" style="animation-delay: 1s;")
    input.user-name__input.animated.fadeInRight(type="text" placeholder="город" style="animation-delay: 2s;")
    input.user-name__input.animated.fadeInRight(type="text" placeholder="контактные данные" style="animation-delay: 3s;")
