.aftermath
  margin 0 60px
  
  @media screen and (min-width $BREAK-S)
    margin 0 15px
    
  @media screen and (min-width $BREAK-M)
    margin 0 45px
  
  @media screen and (min-width $BREAK-L)
    margin 0 45px
  
  &__header--wrap
    height 955px
    background-color #cc1212
    text-align center
    margin-bottom 120px
    
    @media screen and (min-width $BREAK-S)
      height 480px
      margin-bottom 60px
      
    @media screen and (min-width $BREAK-M)
      height 630px
      margin-bottom 90px
    
    @media screen and (min-width $BREAK-L)
      height 720px
      margin-bottom 90px
    
  &__header
    color #ffffff
    padding-top 420px
    
    @media screen and (min-width $BREAK-S)
      padding 195px 20px
      padding-bottom 0px
      
    @media screen and (min-width $BREAK-M)
      padding-top 280px
    
    @media screen and (min-width $BREAK-L)
      padding-top 330px
    
  &__big
    display flex
    background-color #ffffff
    
    @media screen and (min-width $BREAK-S)
      flex-direction column
      margin 0 -15px
      
      &--wrap
        display flex
        flex-direction column-reverse
    
    @media screen and (min-width $BREAK-M)
      flex-direction column
      margin 0
      
      &--wrap
        display flex
        flex-direction column-reverse
        
        @media screen and (min-width $BREAK-L)
          flex-direction row
    
    @media screen and (min-width $BREAK-L)
      flex-direction row
      
      &:last-child
        height 750px
      
    &--text
      margin-top 70px
      
      @media screen and (min-width $BREAK-S)
        margin 0 -15px
        margin-top 30px
        margin-bottom 55px
        
      @media screen and (min-width $BREAK-M)
        margin-top 70px
        margin-bottom 0px
    
      &:nth-child(2n)
        margin-left 60px
        margin-right 180px
        
        @media screen and (min-width $BREAK-S)
          margin-left 15px
          margin-right 15px
        
        @media screen and (min-width $BREAK-M)
          margin-left 45px
          margin-right 40px
        
        @media screen and (min-width $BREAK-L)
          margin-left 45px
          margin-right 45px
      
      &:nth-child(2n+1)
        margin-left 180px
        margin-right 90px
        
        @media screen and (min-width $BREAK-S)
          margin-left 15px
          margin-right 15px
        
        @media screen and (min-width $BREAK-M)
          margin-left 45px
          margin-right 40px
        
        @media screen and (min-width $BREAK-L)
          margin-left 45px
          margin-right 45px
        
    &--img1
      width 900px
      height 955px
      background url("../img/aftermath--big1.jpg") no-repeat
      
      @media screen and (min-width $BREAK-S)
        width 320px
        height 285px
        background url("../img/aftermath--big1-320.jpg") no-repeat
        
      @media screen and (min-width $BREAK-M)
        width 870px
        height 315px
        background url("../img/aftermath--big1-960.jpg") no-repeat
      
      @media screen and (min-width $BREAK-L)
        width 615px
        height 870px
        background url("../img/aftermath--big1-1320.jpg") no-repeat
        
    &--img2
      width 900px
      height 955px
      background url("../img/aftermath--big2.jpg") no-repeat
      
      @media screen and (min-width $BREAK-S)
        width 315px
        height 285px
        background url("../img/aftermath--big2-320.jpg") no-repeat
        
      @media screen and (min-width $BREAK-M)
        width 870px
        height 315px
        background url("../img/aftermath--big2-960.jpg") no-repeat
      
      @media screen and (min-width $BREAK-L)
        width 615px
        height 870px
        background url("../img/aftermath--big2-1320.jpg") no-repeat
    
  &__small
    display flex
    margin 120px 180px
    
    @media screen and (min-width $BREAK-S)
      flex-direction column
      margin 0px 0px
    
    @media screen and (min-width $BREAK-M)
      margin 90px 0px
      flex-direction row
    
    @media screen and (min-width $BREAK-L)
      margin 90px 0px
    
    &--item
      width 660px
      
      @media screen and (min-width $BREAK-S)
        width 290px
        margin-bottom 55px
        
      @media screen and (min-width $BREAK-M)
        width 660px
        margin-bottom 0px
      
      &:first-child
        margin-right 120px
        
        @media screen and (min-width $BREAK-S)
          margin-right 0px
        
        @media screen and (min-width $BREAK-M)
          margin-right 60px
        
        @media screen and (min-width $BREAK-L)
          margin-right 90px
        
    &--header
      margin-top 40px
      
      @media screen and (min-width $BREAK-S)
        margin-top 30px
        
      @media screen and (min-width $BREAK-M)
        margin-top 40px
      
    &--text
      margin-right 100px
      
      @media screen and (min-width $BREAK-S)
        margin-right 0px
        
      @media screen and (min-width $BREAK-M)
        margin-right 100px
      
    &--img1
      width 660px
      height 630px
      background url("../img/aftermath--small1.jpg")
      
      @media screen and (min-width $BREAK-S)
        width 285px
        height 270px
        background url("../img/aftermath--small1-320.jpg") no-repeat
      
      @media screen and (min-width $BREAK-M)
        width 405px
        height 390px
        background url("../img/aftermath--small1-960.jpg")
      
      @media screen and (min-width $BREAK-L)
        width 570px
        height 540px
        background url("../img/aftermath--small1-1320.jpg")
        
    &--img2
      width 660px
      height 630px
      background url("../img/aftermath--small2.jpg")
      
      @media screen and (min-width $BREAK-S)
        width 285px
        height 270px
        background url("../img/aftermath--small2-320.jpg") no-repeat
      
      @media screen and (min-width $BREAK-M)
        width 405px
        height 390px
        background url("../img/aftermath--small2-960.jpg")
      
      @media screen and (min-width $BREAK-L)
        width 570px
        height 540px
        background url("../img/aftermath--small2-1320.jpg")